body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', Helvetica, sans-serif;
    display: flex;
    color: white;
    background-color: #202020;
    max-width: 1440px;
    height: 97vh;
    align-items: center;
    justify-content: center;
    font-family: 'JetBrains Mono', monospace;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h2 {
    color: #18c1ae;
    font-size: 4rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}

button {
    background: #18c1ae;
    color: #3e3d3b;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 2px solid #3e3d3b;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em #3e3d3b;
}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}